*:focus {
    outline: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 30px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -2px;
}

h2 {
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  letter-spacing: -2px;
}

h3 {
    font-size: 21px;
    line-height: 31px;
}

h4 {
    font-size: 16px;
    line-height: 26px;
}

p {
    margin-bottom: 40px;
}

a {
    color:black;
}

a:hover {
    color:green;
}

pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

blockquote {
    display: block;
    padding-left: 20px;
    border-left: 6px solid #df0d32;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}

#container {
    width: 700px;
    margin: 30px auto;
}

.editable,
.secondEditable
 {
    outline: none;
    margin: 20px 0 20px 0;
    padding: 20px;
    border: 1px solid #dbdbdb;
}

#columns {
    width: 90%;
    margin: 30px auto;
}

.column-container {

}

.column {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    margin: 10px 1%;
}
.nav {
    text-align: center;
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	  font-size: 12px;
}
.button {
	  color: #fff;
	  text-decoration: none;
	  margin-right: 10px;

	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;

	  -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
	  -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
	  box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);

	  background: #1c1c1c; /* #191919 */
	  border: 1px solid #141414;
	  padding: 10px 25px;
}
.button:active, .button:focus {
    box-shadow: 0 0 0 transparent inset;
}
footer {
  text-align: center;
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  color: #666;
  margin-top: 40px;
  padding-top: 40px;
}
